body {
    background-color: navy;
    margin:0;
    font-family: 'Helvetica', serif;
    color: azure;
}

h1 {
    margin-top:0;
    font-family: 'Helvetica', serif;
    color: azure;
}
h2{
    color: azure;
    font-family: 'Helvetica', serif;
}
button{
    margin: 20px;
    color: rgba(0,0,0,0.76);
    font-family: 'Helvetica', serif;
}

#content {
    background-color: rgba(0, 0, 0, 0.76);
    width: 1840px;
    margin: 0 auto;
    min-height: 900px;
    padding: 32px;
}

